.page-title
  %h1= @event.name

%div= alert

%div
  %ul
    %li= link_to 'Vote', new_event_vote_path(@event)
    %li= link_to 'Total Votes', event_votes_total_path(@event)
    %li= link_to 'List of candidates', event_candidates_path(@event)
    %li= link_to 'List of voters', event_voters_path(@event)
