.page-title
  %h1= @event.name

%div
  %ul
    %li
      - if EventPolicy.new(current_user, @event).votable?
        - if @voter&.voted_for?(@event)
          = link_to 'Edit Vote', edit_event_vote_path(@event, @voter.vote)
        - else
          = link_to 'Vote', new_event_vote_path(@event)
      - else
        このイベントには投票できません
    %li= link_to 'Total Votes', total_event_votes_path(@event)
    %li= link_to 'List of candidates', event_candidates_path(@event)
    %li= link_to 'List of voters', event_voters_path(@event)
