= form_for(@vote) do |f|
  %ul
    - @members.each_with_index do |member,i|
      %li
        = f.radio_button :voted_member_id, member.id
        = member.nickname
  %div
    = f.label :comment, '推薦コメント'
  %div
    = f.text_area :comment
  = f.submit  
