%div
  投票したいメンバーを選んでください。

= form_for(@vote, html: {class: 'candidates'}) do |f|
  %ul
    - @candidates.each do |candidate|
      %li
        = f.radio_button :candidate_id, candidate.id
        = image_tag candidate.member.image, alt: candidate.member.nickname, size: '40x40'
        = f.label :candidate_id, candidate.member.nickname, value: candidate.member.id
  %div
    = f.label :comment, '推薦コメント(任意)'
  %div
    .comment
      = f.text_area :comment
  = f.submit button_label
