%header.navbar.navbar-fixed-top.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{type:'button', data:{toggle:'collapse', target:'#navbar'}, aria:{expanded:'false'}}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-brand
        = link_to 'Kajaeru', root_path
    .collapse.navbar-collapse#navbar
      - if signed_in?
        %ul.nav.navbar-nav
          %li.active
            = link_to 'ホーム', root_path
          %li
            = link_to 'イベント一覧', events_path
        %ul.nav.navbar-nav.navbar-right.current-user
          %li
            = image_tag(current_user.image, alt: 'icon', class: 'current-user__image')
          %li
            = link_to current_user.nickname, mypage_path, class: 'current-user__mypage-link'
          %li
            = link_to 'サインアウト', signout_path, method: 'delete', class: 'current-user__signout-link'
