!!! 5

%html
  %head
    %title Kajaeru
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %nav.navbar.navbar-fixed-top.navbar-default
      %div.container
        %div.navbar-header
          %div.navbar-brand
            = link_to 'Kajaeru', root_path
    = yield
