%h1 Vote Kaja of yochiyochirb! Kajaeru!
%p Hello, #{current_user.nickname}!

= image_tag "yochi_rabbit.jpg", alt: "よちよち.rb", width: 500

%div= notice

%br
- if @current_user_vote
  = link_to '投票を編集する', edit_vote_path(@current_user_vote)
- else
  = link_to '新しく投票する', new_vote_path
%br
= link_to 'Sign out', signout_path, method: 'delete'
%ul
  - @members.each do |member|
    %li
      = image_tag member.image, alt: member.nickname, size: '40x40'
      %span= member.nickname
