%h1 よちよち.rb の Ruby Kaja を選ぼう！
%p 現在、#{current_user.nickname} としてサインインしています

= image_tag "yochi_rabbit.jpg", alt: "よちよち.rb", width: 500

%div= alert

%div
  - if @current_user_vote
    = link_to '投票を編集する', edit_vote_path(@current_user_vote)
  - else
    = link_to '新しく投票する', new_vote_path

%div= link_to 'サインアウト', signout_path, method: 'delete'

%h2 メンバー一覧

%ul
  - @members.each do |member|
    %li
      = image_tag member.image, alt: member.nickname, size: '40x40'
      %span= member.nickname
